<form (ngSubmit)="create()">
  <nb-card>
    <nb-card-header>
      Create Tap
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label class="label">Name:</label>
            <input nbInput name="tap.name" required>
          </div>
          <div class="form-group">
            <label class="label">Target Url:</label>
            <input nbInput name="tap.targeturl" required>
          </div>
          <ng-container >
            <p class="caption status-danger" >
              Username is required!
            </p>
          </ng-container>


          <div class="form-group">
          <label class="label">Beverage:</label>
            <nb-select placeholder="- Select -" matRipple class="position-select" (selectedChange)="loadBevaragePrice($event)">
              <nb-option *ngFor="let item of bevarage"  [value]="item.code" matRipple>{{ item.name }}</nb-option>
            </nb-select>
          </div>
          <div class="form-group">
            <label class="label">Beverage Price:</label>
            <nb-select placeholder="- Select -" matRipple class="position-select">
              <nb-option *ngFor="let item of bevaragePrice"  [value]="item.code" matRipple>{{ item.code }}</nb-option>
            </nb-select>
          </div>
          <div>
            <nb-checkbox >Ativo</nb-checkbox>
          </div>
        </div>
      </div>
    </nb-card-body>
  
    <nb-card-footer>
      <button nbButton type="submit" status="primary">Create</button>
    </nb-card-footer>
  </nb-card>

</form>


<!-- <input nbInput [(ngModel)]="name" name="tap.name"> -->
